.body {
    background-color: azure
};

.content {
  max-width: 500px;
  margin: auto;
};


.button {
  background-color: #8B008B; /* Dark Magenta */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


button:active {
    background:fuchsia 
};
button:focus {
    background:fuchsia
  }
