<style>
body {
    background-color: azure;
}

.content {
  max-width: 500px;
  margin: auto;
}
</style>

<body>

<div class="content">
  <!-- Page content -->
</div>

</body> 

.button {
  background-color: #8B008B; /* Dark Magenta ooooo */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button:hover { /* fuscia #df03fc
.button {
    display: block;
  }